<app-navigation-button [title]="backTitle" [pageName]="backPageName"></app-navigation-button>

<div class="search-user__container" (scroll)="onScroll()">

    <div *ngIf="user" class="user__container">
      <a href="{{ getProfilePicFullRes(user.profile_image_url!) }}" target="_blank">
        <img class="avatar" src="{{ getProfilePicFullRes(user.profile_image_url!) }}"/>
      </a>
      <p>{{ user.name }}</p>
      <p>{{ formatUsername() }}</p>
      <p>{{ formatID() }}</p>
    </div>

    <form class="form__container">
        <label for="username"></label>
        <input
          type="text"
          class="home__input--username"
          id="username"
          placeholder="Twitter user"
          #userName
        />
    
        <button
          class="button"
          (click)="setUserByUsername(userName.value)"
        >
          SEARCH
        </button>
    
      </form>

      <div class="request-buttons">

      <button *ngIf="user"
        class="button"
        (click)="getData(user.id!, 'tweets', retweetsToggle)"
      >
        GET TWEETS
      </button>

      <button *ngIf="user"
        class="button"
        (click)="getData(user.id!, 'pics', retweetsToggle)"
      >
        GET PICS
      </button>

      <button *ngIf="mediaList.length"
      class="button"
      (click)="toggleGrid()"
      >
      GRID: {{gridToggle}}
      </button>

      <button *ngIf="mediaList.length"
      class="button"
      (click)="decreaseHeight()"
      >
      -
      </button>

      <button *ngIf="mediaList.length"
      class="button"
      (click)="increaseHeight()"
      >
      +
      </button>

      <button
      class="button"
      (click)="toggleRetweets()"
      >
      Retweets included: {{retweetsToggle}}
      </button>
    </div>

      <div *ngIf="tweetList.length && requested=='tweets'" class="tweetlist">
        <div *ngFor="let tweet of tweetList">
          <p class="tweet">{{tweet.text}}</p>
          <hr>
        </div>
      </div>

      <button *ngIf="tweetList.length && requested=='tweets'"
        class="button"
        (click)="getMoreData(user.id!, lastTweetID()!, 'tweets', retweetsToggle)"
        >
        LOAD MORE TWEETS
      </button>


      <div *ngIf="requested=='pics'" class="medialist">
        <div *ngFor="let media of mediaList">
          <div class="imagebox">
            <a *ngIf="media.type==='photo'" href="{{ getTweetPicFullRes(media.url!) }}" target="_blank">
              <img class="tweetpic" [ngClass]="gridToggle ? 'tweetpic-grid' : 'tweetpic-original'" [ngStyle]="{'height.px':tweetpicHeight}" src="{{media.url}}"/>
            </a>
              <p class="picresolution">{{media.resolution}}</p>
          </div>
        </div>
      </div>

      <button *ngIf="tweetList.length && requested=='pics'"
      class="button"
      (click)="getMoreData(user.id!, lastTweetID()!, 'pics', retweetsToggle)"
      >
      LOAD MORE PICS
      </button>

      <p *ngIf="tweetList.length">Last tweet ID: {{lastTweetID()}}</p>
      <p *ngIf="noMoreTweets">No more Tweets</p>



</div>

